html {
	scroll-behavior: smooth;
}

body {
	/* background-color: aliceblue; */
	font-family: 'Fira Code', monospace;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-wrapper ul li a {
	color: black;
}

.card:hover {
	opacity: 0.8;
	transition: ease-in-out 0.3s;
}

#burger {
	color: black;
}

#mobile-demo li a {
	color: white;
}

#tag-line {
	font-size: 16px !important;
}

.github-icon:hover {
	opacity: 0.5;
}

.github-icon {
	width: 20px;
}

#fab-github {
	margin-top: 6px;
	width: 30px;
}

#fab-linkedin {
	margin-top: 8px;
	margin-left: 4px;
	width: 28px;
}

.project-image {
	max-width: 100%;
}

.card-title {
	font-size: 14px !important;
}

.badge {
	font-size: 12px !important;
}

/* Skill icons */
[class*='devicon'] {
	font-size: 44px;
}

.skills-list li:hover {
	opacity: 0.7;
}

#contact-list li:hover {
	opacity: 0.7;
}

#bloomberg {
	padding-top: 10px;
	width: 88px;
}

#tableau {
	width: 46px;
}

#flask {
	padding-top: 6px;
	width: 56px;
}

#materialize {
	padding-top: 8px;
	width: 42px;
}

#excel-vba {
	width: 130px;
}

#footer-email {
	font-size: 12px;
}

.skills-list li,
#contact-list li {
	float: left;
	margin: 14px 14px;
}

.skills-list,
#contact-list {
	display: inline-block;
}

.skills-list-2 {
	margin-top: 0px;
}

@media (max-width: 562px) {
	#tag-line {
		display: none;
	}
}

/*  */
@media (min-width: 962px) {
	.brand-logo {
		margin-left: 28px;
	}
}

* {
	/* outline: solid pink 1px;
	outline-style: dashed;
	outline-offset: -1px; */
}
